:root {
  --couleur-saumon: #FFA590;
  --creme: #FAF2EC ; 
  --brun: #B09088 ;
  --rose: #CDAFA3 ; 
  --brun-fonce: #3B302D ; 
}

.hero { 
    text-align: center ;
    padding: 1.5rem ;
    margin-bottom : 3 rem ; 
    border-radius: 0.5 rem ;
    box-shadow: 0.125rem , 25 rem rgba (0,0,0,.075) ;
    background-color: var(#fdfdfd );
    color:  var(--brun-fonce);

    



}

.labarre {
    max-width: 1300px;
    margin: 0 auto;
    height: 75px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: nowrap;
}



.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: -0.02em;
}

.liens {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}